<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="All Tests" verbose="1">
  <test name="All packages" >
    <packages>
      <package name="org.fest.reflect"/>
      <package name="org.fest.reflect.constructor"/>
      <package name="org.fest.reflect.core"/>
      <package name="org.fest.reflect.field"/>
      <package name="org.fest.reflect.method"/>
      <package name="org.fest.reflect.util"/>
    </packages>
  </test>
</suite>